In [64]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split

In [67]:
cwd = os.getcwd()
df = pd.read_csv(os.getcwd()+'/Processed data/train_data_processed.csv')
df['days_rented'] = (pd.to_datetime(df['end_date']) - pd.to_datetime(df['start_date'])).dt.days
df

,listing_id,price,min_nights,max_nights,host_since,host_response_rate,host_acceptance_rate,accommodates,bathrooms,bedrooms,...,other,park,shops_and_retail,supermarket,transport_and_infrastructure,Essentials,Hair_dryer,Kitchen,Wifi,days_rented
0,40625,164.0,1,365,2010-07-20,1.0,0.0,4,1.0,2.0,...,1,1,1,1,1,1,1,1,1,6
1,40625,164.0,1,365,2010-07-20,1.0,0.0,4,1.0,2.0,...,1,1,1,1,1,1,1,1,1,6
2,40625,164.0,1,365,2010-07-20,1.0,0.0,4,1.0,2.0,...,1,1,1,1,1,1,1,1,1,6
3,40625,164.0,1,365,2010-07-20,1.0,0.0,4,1.0,2.0,...,1,1,1,1,1,1,1,1,1,6
4,40625,164.0,1,365,2010-07-20,1.0,0.0,4,1.0,2.0,...,1,1,1,1,1,1,1,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534014,1242111585356854473,999.0,5,179,2022-03-11,0.0,0.0,3,1.0,1.0,...,1,1,1,1,1,1,1,1,1,6
534015,1242111585356854473,999.0,5,179,2022-03-11,0.0,0.0,3,1.0,1.0,...,1,1,1,1,1,1,1,1,1,6
534016,1242111585356854473,999.0,5,179,2022-03-11,0.0,0.0,3,1.0,1.0,...,1,1,1,1,1,1,1,1,1,6
534017,1242111585356854473,999.0,5,179,2022-03-11,0.0,0.0,3,1.0,1.0,...,1,1,1,1,1,1,1,1,1,6
534018,1242111585356854473,999.0,5,179,2022-03-11,0.0,0.0,3,1.0,1.0,...,1,1,1,1,1,1,1,1,1,6

In [71]:
df['income_per_period_rented'] = df['price'] * df['days_rented']

df = df.groupby(groupby_columns).agg(total_income=('income_per_period_rented','sum')
                                                         ).reset_index()
df

,min_nights,max_nights,host_response_rate,host_acceptance_rate,accommodates,bathrooms,bedrooms,number_of_reviews,review_scores_rating,review_scores_accuracy,...,park,shops_and_retail,supermarket,transport_and_infrastructure,Essentials,Hair_dryer,Kitchen,Wifi,days_rented,total_income
0,1,1,0.0,0.0,1,0.0,1.0,0,0.00,0.00,...,1,1,1,1,0,0,1,1,6,6678.0
1,1,1,0.0,0.0,1,1.0,0.0,0,0.00,0.00,...,0,1,1,1,0,0,1,1,6,3816.0
2,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,1,1,1,1,0,0,1,0,6,9540.0
3,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,1,1,0,1,6,68400.0
4,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,1,1,0,1,6,64800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16377,365,1125,1.0,0.0,8,1.5,4.0,4,4.00,4.00,...,0,1,1,1,1,1,1,1,6,1224.0
16378,365,1125,1.0,0.0,8,3.0,4.0,0,0.00,0.00,...,1,1,1,1,1,1,1,1,6,4284.0
16379,400,730,0.0,0.0,4,0.0,2.0,182,4.94,4.93,...,0,1,1,1,1,1,1,1,6,15900.0
16380,550,600,0.0,0.0,2,1.0,1.0,11,5.00,5.00,...,1,1,1,1,1,0,1,0,6,3180.0
16381,720,730,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,0,0,1,1,6,23850.0

In [75]:
df.corr()['total_income'].sort_values(ascending = False)

total_income                         1.000000
host_response_time_within_an_hour    0.061101
accommodates                         0.055209
reviews_per_month                    0.047015
host_has_listings                    0.044700
                                       ...
host_identity_verified              -0.047568
host_response_rate                  -0.056936
Kitchen                             -0.068367
other                                     NaN
days_rented                               NaN
Name: total_income, Length: 64, dtype: float64

In [50]:
train_data = train_data.drop(columns=['start_date', 'end_date',
                                      'host_since',
                                      'amenities'])

In [52]:
# Columns to exclude
exclude_columns = ['listing_id', 'price', 'days']
# Get all columns except the excluded ones
groupby_columns = [col for col in train_data.columns if col not in exclude_columns]

groupby_columns

['min_nights',
 'max_nights',
 'host_response_rate',
 'host_acceptance_rate',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'number_of_reviews',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'host_has_listings',
 'reviews_per_month',
 'nearest_stop_distance_km',
 'host_response_time_within_a_day',
 'host_response_time_within_a_few_hours',
 'host_response_time_within_an_hour',
 'is_superhost',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood_Brigittenau',
 'neighbourhood_Dobling',
 'neighbourhood_Donaustadt',
 'neighbourhood_Favoriten',
 'neighbourhood_Floridsdorf',
 'neighbourhood_Hernals',
 'neighbourhood_Hietzing',
 'neighbourhood_Innere_Stadt',
 'neighbourhood_Josefstadt',
 'neighbourhood_Landstra§e',
 'neighbourhood_Leopoldstadt',
 'neighbourhood_Liesing',
 'neighbourhood_Margareten',
 'neighbourhood_Mariahilf',
 'neighbourhood_Meidling',
 'neighbourhood_Neubau',
 'neighbourhood_Ottakring',
 'neighbourhood_Penzing',
 'neighbourhood_Rudolfsheim-Funfhaus',
 'neighbourhood_Simmering',
 'neighbourhood_Wahring',
 'neighbourhood_Wieden',
 'property_type_Other',
 'property_type_Private_room',
 'property_type_Room_in_hotel_or_similar',
 'property_type_Shared_room',
 'cafe_restaurant',
 'education',
 'entertainment_leisure',
 'other',
 'park',
 'shops_and_retail',
 'supermarket',
 'transport_and_infrastructure',
 'Essentials',
 'Hair_dryer',
 'Kitchen',
 'Wifi',
 'days_rented']

In [53]:
train_data['income_per_period_rentedented'] = train_data['price'] * train_data['days_rented']

train_data_agg = train_data.groupby(groupby_columns).agg(total_income=('income_per_period_rented','sum')
                                                         ).reset_index()
train_data_agg

,min_nights,max_nights,host_response_rate,host_acceptance_rate,accommodates,bathrooms,bedrooms,number_of_reviews,review_scores_rating,review_scores_accuracy,...,park,shops_and_retail,supermarket,transport_and_infrastructure,Essentials,Hair_dryer,Kitchen,Wifi,days_rented,total_income
0,1,1,0.0,0.0,1,0.0,1.0,0,0.00,0.00,...,1,1,1,1,0,0,1,1,6,6678.0
1,1,1,0.0,0.0,1,1.0,0.0,0,0.00,0.00,...,0,1,1,1,0,0,1,1,6,3816.0
2,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,1,1,1,1,0,0,1,0,6,9540.0
3,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,1,1,0,1,6,68400.0
4,1,1,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,1,1,0,1,6,64800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16377,365,1125,1.0,0.0,8,1.5,4.0,4,4.00,4.00,...,0,1,1,1,1,1,1,1,6,1224.0
16378,365,1125,1.0,0.0,8,3.0,4.0,0,0.00,0.00,...,1,1,1,1,1,1,1,1,6,4284.0
16379,400,730,0.0,0.0,4,0.0,2.0,182,4.94,4.93,...,0,1,1,1,1,1,1,1,6,15900.0
16380,550,600,0.0,0.0,2,1.0,1.0,11,5.00,5.00,...,1,1,1,1,1,0,1,0,6,3180.0
16381,720,730,0.0,0.0,2,0.0,1.0,0,0.00,0.00,...,0,1,1,1,0,0,1,1,6,23850.0

In [83]:
# Splitting the data

X = train_data_agg.drop('total_income', axis=1)
y = train_data_agg['total_income']

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [84]:
# Selecting K-Best features

selector = SelectKBest(score_func=f_regression, k=15) # for f_regression feature scaling is not required
X_selected = selector.fit_transform(X_train, y_train)

# Get selected feature names
selected_features = X_train.columns[selector.get_support()]
print("Selected features:", selected_features)

Selected features: Index(['min_nights', 'host_response_rate', 'accommodates', 'bedrooms',
       'number_of_reviews', 'host_has_listings', 'reviews_per_month',
       'host_response_time_within_a_few_hours',
       'host_response_time_within_an_hour', 'is_superhost',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_Innere_Stadt', 'property_type_Private_room', 'Kitchen'],
      dtype='object')

In [85]:
# leaving features with the highest score
X_train = X_train[list(selected_features)]
X_val = X_val[list(selected_features)]
X_test = X_test[list(selected_features)]

In [90]:
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

# Train-test split (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize models with regularization parameters
models = {
    'Random Forest Regressor': RandomForestRegressor(random_state=42, max_depth=10, min_samples_split=5, n_estimators=100),
    'Gradient Boosting Regressor': GradientBoostingRegressor(random_state=42, max_depth=3, n_estimators=100, learning_rate=0.05),
    'XGBoost Regressor': XGBRegressor(random_state=42, eval_metric='rmse', max_depth=3, n_estimators=100, learning_rate=0.05)
}

# Train and evaluate each model using cross-validation
for name, model in models.items():
    # Use cross-validation for more robust evaluation
    cv_scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
    
    # Calculate mean and standard deviation of MSE from cross-validation
    mean_mse = -cv_scores.mean()
    std_mse = cv_scores.std()

    # Train the model
    model.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = model.predict(X_test)
    
    # Calculate test MSE and R-squared
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f"{name}:")
    print(f"Cross-Validation Mean MSE: {mean_mse:.4f} ± {std_mse:.4f}")
    print(f"Test Set MSE: {mse:.4f}")
    print(f"Test Set R-squared: {r2:.4f}\n")

Random Forest Regressor:
Cross-Validation Mean MSE: 30007019746.5188 ± 17462620958.0900
Test Set MSE: 21510468443.6391
Test Set R-squared: 0.2190

Gradient Boosting Regressor:
Cross-Validation Mean MSE: 34656347530.1351 ± 17513721343.9513
Test Set MSE: 20261947645.4378
Test Set R-squared: 0.2644

XGBoost Regressor:
Cross-Validation Mean MSE: 35001950246.5241 ± 16572141292.1287
Test Set MSE: 20249657525.5397
Test Set R-squared: 0.2648